### Flutter
mobile/build/
mobile/.dart_tool/
*.flutter-plugins*
*.flutter-plugins-dependencies*

### Java / Spring Boot
server/target/
server/.mvn/
server/mvnw
server/mvnw.cmd
server/*.log
server/*.jar

### Node tooling for frontend (falls später genutzt)
legacy-frontend/node_modules/

### OS
.DS_Store
Thumbs.db

### IDE / Build
.idea/
*.iml


### General
.DS_Store
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# JetBrains / IntelliJ
.idea/

legacy-frontend/
mobile-admin/
